<div class="form-row center">
  <app-datepicker (selectedDateEvent)="selectDateChanged($event)" class="datepicker"></app-datepicker>&nbsp;
  <app-country-selector (selectedCountryEvent)="selectCountryChanged($event)" class="country-selector"></app-country-selector>
</div>
<div class="form-row center">
  <button mat-raised-button (click)="showSunClicked()">
    <mat-icon aria-hidden="false" aria-label="Sun icon" fontIcon="wb_sunny"></mat-icon>Show
  </button>
</div>

<div *ngIf="sun">
  <app-sun-detail [sun]="sun"></app-sun-detail>
</div>