<div class="form-row">
  <app-datepicker
    (selectedDateEvent)="selectDateChanged($event)"
  ></app-datepicker>
  <app-country-selector
    (selectedCountryEvent)="selectCountryChanged($event)"
  ></app-country-selector>
</div>
<div class="form-row">
  <button mat-raised-button (click)="showSunClicked()">
    <mat-icon
      aria-hidden="false"
      aria-label="Sun icon"
      fontIcon="wb_sunny"
    ></mat-icon
    >Show
  </button>
</div>

<div *ngIf="sun">
  <app-sun-detail [sun]="sun"></app-sun-detail>
</div>
